.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: #fff;
}

.tetriscontainer {
  display: flex;
  justify-content: space-around;
}

.boardstyle {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  height: 500px;
  margin: 0 30px;
  outline: solid black;
}

.cellstyle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border: solid 1px;
  border-color: black;
}

.holdstyle,
.nextstyle {
  display: flex;
  flex-wrap: wrap;
  width: 125px;
  height: 125px;
  border: solid black;
}

.nextcontainer,
.holdcontainer {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.text {
  font-size: 150%;
  font-weight: bold;
}

/* 1ブロック25px */
